[%
   main_section = 'main'
   main_archive = 'janus'
   standard_priority = 'optional'

   section_titles = {
		main => g('Free and Open Source software'),
		contrib => g('Software restricted by copyright or legal issues'),
		non-free => g('Proprietary and non-free software'),
        }

   section_urls = {
        }

%]
