[%

mirrors = {
	us => {
		url => 'http://www.tanglu.org/',
		north_america = [

				],
		europa = [
	"archive.tanglu.org/tanglu",
			],
	south_americas = [

			],
	australia = [

		],
	asia = [

		],
	africa = [
		],
	},
}

continents = {
		north_america => g('North America'),
		south_america => g('South America'),
		asia          => g('Asia'),
		oceania       => g('Oceania'),
		europa        => g('Europe'),
		africa        => g('Africa'),
	}
%]
